[Unit]\nDescription=Persistent reverse SSH tunnel\nAfter=network.target\n\n[Service]\nUser={{ remote_user }}\nExecStart=/usr/bin/autossh -M 0 -N -o \"ServerAliveInterval 30\" -o \"ServerAliveCountMax 3\" -i {{ ssh_key_path }} -R {{ remote_port }}:localhost:{{ local_port }} {{ remote_user }}@{{ remote_host }}\nRestart=always\nRestartSec=10\n\n[Install]\nWantedBy=multi-user.target\n
