[main]
name = {{ pet_name }}
log_path = {{ pet_log_dir }}
retention_days = {{ pet_log_retention_days }}

[network]
port = 8080
host = 0.0.0.0

# Add more configuration specific to your digital pet here
