.survival-tip {
  background-color: #57606f;
  padding: 25px;
  border-radius: 8px;
  border-left: 5px solid #f0932b;
  text-align: left;
  font-style: italic;
  color: #dfe6e9;
  font-size: 1.1em;
}

.survival-tip p {
  margin: 0;
}
