{{ comfort_message_title }}
=========================

{{ comfort_message_content }}

-- {{ comfort_message_author }}
{% if include_timestamp %}Generated on {{ ansible_date_time.iso8601_micro }}{% endif %}
