===============================================================================
  APOCALYPTIC WISDOM OF THE DAY
===============================================================================

{{ motd_message }}

===============================================================================
